*{
    box-sizing: border-box;
}
/*body{ background-color:green;}*/
.container{
    overflow: auto;
    height: 100%;
    display: grid;
    
    grid-template:
    "th th th" 20%
    "o t fo" 1fr
    "o t fo" 20%
    / 10% 1fr 20%;
    /*
    grid-gap: 3px;
    */
}

.item-4{
    overflow: auto;

    display: grid;
    grid-template: 
    "x" 1fr
    "y" 1fr
    "z" 1fr
    /1fr;

    grid-gap: 3px;
}

.item42{
    border-bottom: 1px solid blueviolet;
}
/*
.container> div{
    padding: 20px;
}*/
.grid-item{
    border: 2px solid white;
    padding: 10px;
    overflow: auto;
}

.item-1{
    background-color: ivory;
    grid-area: o;
    text-decoration: underline;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item-2{
    background-color:gainsboro;
    grid-area: t;
    text-decoration: overline;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-3{
    background-color: burlywood;
    grid-area: th;
    text-decoration: line-through;
}

.item-4{

    grid-area: fo;
    text-decoration: underline;
}

h1{
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    color: wheat;
    font-family: 'Times New Roman', Times, serif;
}
